* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./bggif.gif);
}

h2 {
    font-weight: bolder;
    font-size: 5rem;
    color: rgba(239, 203, 12, 0.8);
}
button{
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    font-size: 30px;
    border-radius: 30%;
    background-color:rgba(229, 18, 51, .8);
    cursor: pointer;
    z-index: -100;  
}
button:hover{
    transform: translateY(-10px);
    transition: 1s ease;
}